# Clacky-related configurationuuo
.1024*
!.1024y


# Language-specific files
dist
node_modules
.eslintcache
vite.config.*.timestamp*

# Framework-related files
vendor

# Package manager directories
.pnpm-store

# MacOS
.DS_Store

# Local env files
*.local

# Logs
*.log

# Use the pnpm
package-lock.json
yarn.lock